

.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}

#hero-img{
    width: 1536px
}

            



body {
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 227, 204); 
}
h2 {
    margin: 0;
    background-color: rgb(130, 163, 39)
}

#content {
    max-width: 1600px; /* Set your desired max-width */
    margin: center; /* Center the container horizontally */
    padding: 80px; /* Add padding as needed */
    
}

.icon {
    width: 80px;
}


#background {
    height: 725px;
    background-color:rgb(239, 197, 71);

}

header 
    {font-size: 1.2em;
     background-color: rgb(130, 163, 39);
    
    /* Your header and footer styles go here */
}

footer {
    background-color: rgb(130, 163, 39)

}


footer p {
    font-size: 1.2em; ; 

}

footer p a:hover {
    text-decoration: underline;
}    
           
nav a {
    text-align: center;
    color: #012608;
    text-decoration: none;
    padding: 35px;
}    

nav a:hover {
    text-align: center;
    background-color: black;
    color: #fafcfd;
    text-decoration: none;
    
}


.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}


.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}
                    

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}