header {
    display: grid;
    grid-template-columns: 150px auto;
    font-size: 1.2em;
    background-color: #ebb14d;
}

nav a {
    text-align: center;
    color: #c84230;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    text-align: center;
    background-color: black;
    color: #fafcfd;
    text-decoration: none;
}

.home-title {
    font-family: 'Fjalla one, sans-serif';
    font-size: 2em;
    text-align: center;
    color: #c84230;
}

.date-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.date-item {
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 110px;    
}

#logo_link {
    padding-top: 5px;
    justify-self:left;
   
}

.Creating{
    width: 1200px;
    height:300px;
    display: block;
    margin: auto;
    overflow:hidden;
}

