header {
    display: grid;
    grid-template-columns: 150px auto;
    font-size: 1.2em;
    background-color: #ebb14d;
}

nav a {
    text-align: center;
    color: #c84230;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    text-align: center;
    background-color: black;
    color: #fafcfd;
    text-decoration: none;
}

.home-title {
    font-family: 'Fjalla One', 'Arial';
    font-size: 2em;
    text-align: center;
    color: #c84230;
}

.date-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.date-item {
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 110px;    
}

#logo_link {
    padding-top: 5px;
    justify-self:left;
   
}

body {
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: #f4dc94;
}

.container{
    padding:20px;
    padding-left: 250px;
    text-align:left;
    font-size: 1.5em;
}

.container2{
    padding-left: 150px;
    padding-right: 150px;
    text-align: left;
    
    
}

.contianer3{
    padding:20px;
    padding-left: 250px;
    text-align:left;
    font-size: 1.5em;   
}

.contianer4{
    padding-left: 150px;
    padding-right: 150px;
    text-align: left;
}

.contianer5{
    padding:20px;
    padding-left: 250px;
    text-align:left;
    font-size: 1.5em;
    
}


.contianer6{
    padding-left: 150px;
    padding-right: 150px;
    text-align: left;

}



.home-grid{
    text-align: center;
    font-size: .8em;
    color: #c84230;
    
}


.Apply{
    background-color: #ebb14d;
    color:#c84230;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}


.button-box {
    text-align: center;
}





footer {
    background-color: #ebb14d;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
    color:#c84230
}

footer p a:hover {
    text-decoration: underline;
}




